EPanel {
    opacity: 0;
    font-size: 24px;
    width: 32px;
    height: 31.5px;
    top: 50%;
    left: 52%;
    border-radius: 14px;

    &.show {
        opacity: 1;
        background-color: rgba(black, 0.8);
        color: white;
    }
}