GoonStats {
    justify-content: center;
    align-items: flex-end;
    width: 10000px;
    height: 420px;
    color: white;

    .healthbar {
        bottom: 26px;
        position: absolute;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: rgba(black, 0.6);
        border-radius: 22px;

        .healthbarfill {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgb(168, 64, 64);
        }
    
        .healthbarborder {
            width: 100.5%;
            height: 102%;
            top: -1%;
            position: absolute;
            border: 6px rgb(0, 0, 0);
            border-radius: 20px;
        }

        .healthbarhealth {
            font-size: 43px;
            text-overflow: ellipsis;
            color: white;
        }
    }

    .stats {
        bottom: 80px;
        height: 290px;
        line-height: 22px;
        padding: 2px;
        background-color: rgba(black, 0.4);
        border: 5px black;
        border-radius: 5px;
        flex-direction: column;
        color: white;

        .statnamelabel {
            margin-top: -3px;
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 28px;
            font-size: 34px;
        }

        .staticonlabel {
            font-size: 28px;
            line-height: 22px;
            padding-right: 4px;
            color: white;
            font-family: MaterialIcons;
        }

        .statnumberlabel {
            font-size: 26px;
            line-height: 24.9px;
            padding-right: 6px;
            color: white;
            font-family: AnonymousPro; // https://www.1001fonts.com/anonymous-pro-font.html
        }

        .statothernumberlabel {
            font-size: 26px;
            line-height: 24.9px;
            color: white;
            font-family: AnonymousPro; // https://www.1001fonts.com/anonymous-pro-font.html
        }
    }

    .powerups {
        position: absolute;
        right: 2160px;
        bottom: 79px;
        top: 37px;
        padding: 2px;
        //background-color: aqua;
        align-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        color: white;

        .powerupstext {
            height: 22px;
            line-height: 26px;
            font-size: 28px;
            text-shadow: 1px 1px black;
            color: white;
            font-family: AnonymousPro; // https://www.1001fonts.com/anonymous-pro-font.html
        }

        PowerupDisplay {
            border: 2px rgba(0, 0, 0, 0.6);
            border-radius: 4px;
            background-color: rgba(black, 0.2);
            .image {
                width: 44px;
                aspect-ratio: 1;
            }
    
            .label {
                width: 44px;
                font-size: 40px;
                overflow: visible;
                text-align: center;
            }
        }
    }

    .combat {
        height: 66px;
    }
}