GoonStats {
    justify-content: center;
    align-items: flex-end;
    width: 10000px;

    .bar {
        bottom: 26px;
        position: absolute;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: rgba(black, 0.6);
        border-radius: 20px;

        .barfill {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: red;
        }
    
        .barborder {
            width: 100.05%;
            height: 102%;
            top: -1%;
            position: absolute;
            border: 7px rgb(0, 0, 0);
            border-radius: 18px;
        }

        .barhealth {
            font-size: 43px;
            color: white;
        }
    }

    .stats {
        bottom: 80px;
        height: 200px;
        line-height: 18px;
        background-color: rgba(black, 0.4);
        flex-direction: column;

        .number {
            height: 22px;
            font-size: 26px;
            color: white;
        }
    }

    .combat {
        height: 50px;
    }
}