GoonStats {
    justify-content: center;
    align-items: flex-end;
    width: 10000px;
    color: white;
    
    .bar {
        bottom: 26px;
        position: absolute;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: rgba(black, 0.6);
        border-radius: 20px;

        .barfill {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: red;
        }
    
        .barborder {
            width: 100.05%;
            height: 102%;
            top: -1%;
            position: absolute;
            border: 7px rgb(0, 0, 0);
            border-radius: 18px;
        }

        .barhealth {
            font-size: 43px;
            text-overflow: ellipsis;
            color: white;
        }
    }

    .stats {
        bottom: 80px;
        height: 210px;
        line-height: 22px;
        padding: 2px;
        background-color: rgba(black, 0.5);
        flex-direction: column;
        color: white;

        .number {
            height: 22px;
            font-size: 26px;
            color: white;
            font-family: AnonymousPro; // https://www.1001fonts.com/anonymous-pro-font.html
        }

        .name {
            width: 100%;
            text-align: center;
            padding: 3px;
            font-size: 34px;
        }
    }

    .stats2 {
        position: absolute;
        left: 1580px;
        bottom: 80px;
        top: 20px;
        
        padding: 2px;
        flex-direction: column;
        color: white;

        .number {
            height: 22px;
            line-height: 26px;
            font-size: 28px;
            text-shadow: 1px 1px black;
            color: white;
            font-family: AnonymousPro; // https://www.1001fonts.com/anonymous-pro-font.html
        }
    }

    .combat {
        height: 50px;
    }
}