RootPanel {
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0);
    transition: background-color 0.6s;

    Crosshair {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 3px;
        height: 3px;

        &.inrange {
            background-color: rgb(255, 120, 120);
        }
    }
}

.loading {
    z-index: 100000;
    background-color: rgba(black, 1);
}