Menu {
    pointer-events: all;
    flex-direction: column;
    color: white;

    .title {
        margin: 20px;
        text-align: center;
        padding: 10px 10px 0px 10px;
        font-size: 60px;
        background-color: rgba(black, 0.5);
        border: 4px black;
    }

    .buttons {
        margin: 20px;
        flex-direction: column;
        font-size: 40px;

        .buttone {
            margin-bottom: 20px;
            border: 2px black;
            transition: border 0.15s;
            background-color: rgba(black, 0.5);
            padding: 10px;
            width: 300px;

            &:hover {
                border: 2px red;
            }
        }
    }

    .popup {
        position: absolute;
        flex-direction: column;
        top: 150px;
        left: 400px;
        width: 600px;
        height: 800px;
        border: 2px black;
        background-color: rgba(black, 0.5);

        &.help {
            overflow: scroll;

            .container {
                width: 100%;
                height: 132px;
                flex-shrink: 0;
            }
            .containerb {
                width: 100%;
                flex-shrink: 0;
            }

            Image {
                width: 200px;
                height: 132px;
            }
            .label {
                line-height: 18px;
                padding: 0px 13px 15px 13px;
                width: 400px;
                text-align: left;
                font-size: 20px;
            }
            .labelb {
                line-height: 16px;
                padding: 13px;
                width: 600px;
                text-align: left;
                font-size: 20px;
            }
            .labelc {
                line-height: 16px;
                padding: 13px;
                width: 600px;
                text-align: center;
                font-size: 20px;
            }
        }

        &.leaderboard {
            .text {
                text-align: center;
                padding-top: 20px;
                width: 100%;
                font-size: 60px;
            }

            .entries {
                padding: 20px;
                width: 100%;
                font-size: 60px;
                font-family: anonymouspro;
            }
        }

        &.about {
            text-align: center;
            .label {
                padding: 13px;
                font-size: 20px;
            }
        }
    }
}